.nav-links-right {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav-item {
  display: none;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s;
  white-space: nowrap;
  padding: 6px 15px;
}

.nav-item:hover {
  color: #333;
  background-color: #f8f8f8;
  box-shadow: 2px 3px 6px 4px rgba(245, 245, 245, 0.938);
  border-radius: 20px;

}

.nav-item:focus {
  outline: 2px solid #4CAF50;
  outline-offset: 2px;
}

.nav-item i {
  margin-right: 5px;
  color: #9763F6;
  transition: color 0.3s;
}

.nav-item:hover i {
  color: #4CAF50;
}

.topNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.hide {
  display: none;
}
.acct {
  margin-left: 2px;
}
.sign_in {
  display: flex;
  align-items: center;
  border: none;
  transition: background-color 0.3s ease-in; 
}
.sign_in:hover {
  background-color: #409643;
}
@media screen and (min-width: 642px) {
  .nav-item {
    display: flex;
  }
  .hide {
    display: none;
  }
}
@media (min-width: 1208px) {
  .hide {
    display: block;
  }
}